body {
    background: white;
    height: 100%;
}

/* Styling all links */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }

/* Positioning Navigation Bar */




  /* Positioning and Sizing Google Logo */

  .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .logo {
    width: auto;
    height: auto;
    margin-top: 9em;
    margin-bottom: auto;
  }

  /* Positioning, Styling and Sizing search box */

.box {
    width: 400px;
    height: 30px;
    border-radius: 24px;
    border: 1px solid grey;
    padding: 5px;
    margin: 0 auto;
    display: block;
    outline: none;
    font-size: 17px;
}

.buttons {
    text-align: center;
    padding: 10px;
}